.container h1 {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: -1px;
    text-align: center;
    color: #F2F2F7;
    width: 510px;
    height: 128px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
}

.lightMode h1 {
    color: #12131A;
}

.textArea {
    width: 100%;
    height: 200px;
    border-radius: 12px;
    border: 2px solid #2A2B37;
    background-color: #21222C;
    resize: none;
    padding: 10px;
    margin-top: 48px;
    color: #E4E4EF;
    font-family: DM Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.6px;
}

.lightMode .textArea {
    background-color: #F2F2F7;
    color: #12131A;
    border: 2px solid #E4E4EF;
}

.textArea::placeholder {
    font-family: DM Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.6px;
    color: #E4E4EF;
}

.lightMode .textArea::placeholder {
    color: #12131A;
}

.textArea:focus {
    outline: none;
    box-shadow: 0px 0px 10px 0px #D3A0FA;
    border: 2px solid #C27CF8;
}

.errorTextArea {
    border: 1px solid #FE8159;
}

.errorTextArea:focus {
    box-shadow: 0px 0px 10px 0px #FE8159;
    border: 2px solid #FE8159;
}

.parametersDiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.parametersDiv .checkboxes {
    display: flex;
    gap: 24px;
}

.parametersDiv .checkboxes .spacesCheckbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.parametersDiv .checkboxes .spacesCheckbox input,
.parametersDiv .checkboxes .limitCheckbox input {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.parametersDiv .checkboxes .spacesCheckbox p,
.parametersDiv .checkboxes .limitCheckbox p {
    font-family: DM Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: -0.6px;
    color: #E4E4EF;
}

.lightMode .parametersDiv .checkboxes .spacesCheckbox p,
.lightMode .parametersDiv .checkboxes .limitCheckbox p {
    color: #12131A;
}

.parametersDiv .checkboxes .limitCheckbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.parametersDiv .checkboxes .limitCheckbox .limitInput {
    width: 55px;
    height: 29px;
    cursor: text;
    border: 1px solid #404254;
    background-color: transparent;
    color: #fff;
    font-family: DM Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: -0.6px;
    padding: 5px;
    border-radius: 6px;
}

.lightMode .parametersDiv .checkboxes .limitCheckbox .limitInput {
    color: #12131A;
}

.parametersDiv .checkboxes .limitCheckbox .limitInput::-webkit-outer-spin-button,
.parametersDiv .checkboxes .limitCheckbox .limitInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.parametersDiv .readingTimeText {
    font-family: DM Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: -0.6px;
    text-align: right;
    color: #E4E4EF;
}

.lightMode .parametersDiv .readingTimeText {
    color: #12131A;
}

.parametersDiv .checkboxes .spacesCheckbox .checkbox,
.parametersDiv .checkboxes .limitCheckbox .checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #E4E4EF;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.lightMode .parametersDiv .checkboxes .spacesCheckbox .checkbox,
.lightMode .parametersDiv .checkboxes .limitCheckbox .checkbox {
    border: 2px solid #12131A;
}

.parametersDiv .checkboxes .spacesCheckbox .checkbox:checked,
.parametersDiv .checkboxes .limitCheckbox .checkbox:checked {
    background-color: #D3A0FA;
    border: 2px solid #D3A0FA;
}

.parametersDiv .checkboxes .spacesCheckbox .checkbox:checked::after,
.parametersDiv .checkboxes .limitCheckbox .checkbox:checked::after {
    content: url("./checkmark.svg");
    color: #21222C;
    font-size: 16px;
    position: absolute;
    left: 4px;
    top: -1px;
}


/* --------------------------------------------------------------------------------------------- */


.cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-top: 48px;
    margin-bottom: 50px;
}

.cards div {
    width: 319px;
    height: 150px;
    border-radius: 12px;
    padding: 20px;
}

.cards .totalCard {
    background-image: url("./card1.svg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: #D3A0FA;
}

.cards .wordCard {
    background-image: url("./card2.svg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: #FF9F00;
}

.cards .sentenceCard {
    background-image: url("./card3.svg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: #FE8159;
}

.cards .count {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: -1px;
    color: #12131A;
}

.cards p {
    font-family: DM Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.6px;
    color: #12131A;
}

.cards .totalCard p span {
    font-size: 16px;
}

.errorDiv .limitError {
    font-family: DM Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: -0.6px;
    color: #FE8159;
    align-self: flex-start;
}

.errorDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    align-self: flex-start;
    margin-top: 12px;
}

.errorDiv .errorLogo {
    width: 14px;
    height: 18px;
}

.letterDensityDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.letterDensityDiv h2 {
    font-family: DM Sans;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -1px;
    color: #fff;
}

.lightMode .letterDensityDiv h2 {
    color: #12131A;
}

@media (max-width: 768px) {
    .cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards div {
        width: 100%;
    }

    .container h1 {
        width: 375px;
        font-size: 40px;
    }

    .textArea {
        margin-top: 0px;
    }

    .parametersDiv {
        flex-direction: column;
        gap: 5px;
    }

    .parametersDiv .checkboxes {
        flex-direction: column;
        align-self: flex-start;
        gap: 5px;
    }

    .parametersDiv .spacesCheckbox {
        align-self: flex-start;
    }

    .parametersDiv .readingTimeText {
        align-self: flex-start;
    }
}